.table {
    margin: auto;
    width: 1440px;
    border-collapse: collapse;
}
td {
    border-collapse: collapse;
}
tr {
    display: flex;
    flex-wrap: wrap;
    border-collapse: collapse;
    justify-content: space-between;
    border-spacing: 50px;
}
.img {
    height: 300px;
}
